@model SystemSkarbnik.Models.ZbiorkaUczen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZbiorkaUczen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zbiorka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zbiorka.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klasa.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uczen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uczen.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyZaplacil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyZaplacil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiedyZaplacil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiedyZaplacil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
